@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 1.3rem;
    height: auto;
}

:root {
    /* primary */
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    /* secondary */
    --red-input-errors: hsl(0, 100%, 66%);
    --linear-gradient-active-input-border: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%))
}

button {
    border: none;
}

input {
    font-family: 'Space Grotesk';
}

/* specific styles */

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 100vh;
}

.secondary-window {
    height: 100vh;
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 3;
}

.secondary-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(50%) translateY(-50%);
}

.card-front, .card-back {
    margin-top: 2rem;
    height: 220px;
    width: 402px;
    border-radius: 10px;
    box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.2);
}

.card-front {
    background-image: url(./images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateX(-25%);
    color: var(--white);
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-front-name-and-date {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    width: 100%;
}

.card-front-number {
    font-size: 2.5rem;
    transform: translateY(80%);
}

.card-back {
    background-image: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card-front-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back-cvc {
    font-size: 1.5rem;
    position: absolute;
    top: 49%;
    right: 15%;
    transform: translateX(50%) translateY(-50%);
    color: var(--white);
}

.main-window {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    transform: translateX(15%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 350px;
    padding: 3rem 0rem;
}

.form {
    /* position: relative; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.input {
    width: 100%;
    font-size: 1.5rem;
    border: none;
    outline: none;
}

.input:focus {
    outline-color: none;
    border-image: var(--linear-gradient-active-input-border);
    border-width: 1px;
    border-image-slice: 2;
}

.input-container {
    position: relative;
    margin-top: 1rem;
    padding: 1.2rem;
    background-clip: padding-box;
    background: white;
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid var(--light-grayish-violet);
}

.input-container:focus-within {
    border: 1px solid transparent;
}

.input-container:focus-within::after {
    content: '';
    position: absolute;
    background: var(--linear-gradient-active-input-border);
    top: -2px; bottom: -2px; 
    left: -2px; right: -2px;
    z-index: -1;
    border-radius: 1.1rem;
}


.exp-date-and-cvc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.exp-date {
    margin-right: 5rem;
    flex-basis: 50%;
}

.exp-date-inputs .input-container:nth-of-type(2) {
    margin-left: 2rem;
}

.exp-date-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrong-input {
    border: 1px solid var(--red-input-errors);
}

.error {
    margin-top: 0.2rem;
    font-size: 1.2rem;
    color: transparent;
    user-select: none;
    -webkit-user-select: none;
}

.error.active {
    color: var(--red-input-errors);
}

.btn {
    width: 100%;
    padding: 1.5rem;
    background: var(--very-dark-violet);
    color: var(--white);
    font-size: 1.5rem;
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
}

.btn:hover {
    transform: scale(0.98);
}

.success {
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    background: white;
    z-index: 2;
    padding: 5rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.success.on {
    display: flex;
}

/* 1.824 */

@media (max-width: 1200px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2.5fr;
    }
    
    .secondary-window {
        height: 250px;
        background-image: url(./images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .secondary-container {
        height: auto;
        top: 80%;
        right: 50%;    
        margin: 0;
    }
    
    .card-front, .card-back {
        margin-top: 0;
        height: 160px;
        width: 280px;
        padding: 1.5rem 2rem;
    }
    
    .card-front {
        background-image: url(./images/bg-card-front.png);
        background-repeat: no-repeat;
        background-size: cover;
        transform: translateX(-12%) translateY(60%);
        z-index: 2;
    }
    
    
    .card-front-number {
        transform: translateY(0%);
        font-size: 2rem;
    }
    
    .card-back {
        background-image: url(./images/bg-card-back.png);
        background-repeat: no-repeat;
        background-size: cover;
        transform: translateY(-100%) translateX(12%);
    }
    
    .card-back-cvc {
        font-size: 1.3rem;
    }

    img {
        height: 30px;
    }

    .container {
        transform: translateX(0%) translateY(-10%);
        margin-left: 1rem;
        margin-right: 1rem;
    }
}